.variant {
	background: #fafafa;
	border: 1 px solid #d6d6d6;
	box-shadow: 0 2px 8px 0 rgb(0 0 0 / 5%), 0 2px 1px 0 rgb(0 0 0 / 5%);
	border-radius: 4px;
	padding: 0.3em 0.2em;
}
summary {
	cursor: pointer;
}
